body {
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  font-family: Arial, sans-serif;
}


.email-bg {
  width: 100%;
  padding: 20px 0;
  background: #f4f4f4;
}

.email-border {
  width: 640px;
  max-width: 100%;
  margin: 0 auto;
  border: 1px solid #e3e3e3;
  background: #ffffff;
  padding: 8px;
}

.email-inner {
  border: 1px solid #f3c5c5;
  padding: 15px 25px 20px;
}

p {
  font-size: 13px;
  line-height: 1.6;
  color: #555;
  margin: 0 0 8px 0;
}

.hello {
  font-size: 13px;
  font-weight: bold;
  margin-top: 10px;
}

ol {
  margin: 5px 0 10px 18px;
  padding: 0;
  font-size: 13px;
  color: #555;
}

li { margin-bottom: 4px; }

.signature {
  margin-top: 12px;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  color: #444;
}

.center-link {
  text-align: center;
  margin-top: 10px;
}

.center-link a {
  color: #e74c3c;
  text-decoration: none;
}


.footer {
  text-align: center;
  font-size: 11px;
  color: #999;
  padding-top: 15px;
  border-top: 1px solid #f0f0f0;
  margin-top: 10px;
}

.contact p {
  margin-top: 20px;
  color: #999;
}

.social a img {
  width: 20px;
  height: 20px;
  
}


.top-logo img,
.hero img {
  display: block;
  max-width: 100%;
  height: auto;
}


.star-container {
  text-align: left;
  margin-top: 5px;
  margin-left: 220px;
}

.star {
  font-size: 20px;
  color: gold;
}

.five {
  color: #555;
  font-weight: bold;
}


@media only screen and (max-width: 600px) {

  .email-border {
    width: 100% !important;
    padding: 5px;
  }

  .email-inner {
    padding: 15px 15px 20px;
  }

  p, ol, li {
    font-size: 14px !important;
  }

  .top-logo img {
    width: 90px;
  }

  .hero img {
    width: 100% !important;
    height: auto;
  }

  .signature,
  .center-link a {
    font-size: 14px;
  }

  .footer {
    font-size: 12px;
  }

  .star {
    font-size: 18px;
  }

}
